<section class="gallery-heading">
  <div class="container">
    {% assign default_cat = site.photos | map: "category" | compact | uniq | sort | first %}
    <h1 class="gallery-heading__title" id="gallery-heading-title">{{ default_cat }}</h1>
    <p class="gallery-heading__desc" id="gallery-heading-desc"></p>
  </div>
</section>

<script type="application/json" id="series-data">
{ {% for item in site.data.series %}{{ item[0] | jsonify }}:{{ item[1] | jsonify }}{% unless forloop.last %},{% endunless %}{% endfor %} }
</script>
